---
interface Props {
  isAssigned: boolean;
  docs: Array<object>;
}

const { isAssigned, docs } = Astro.props;
---

<div class="flex flex-col items-start">
  <section class="flex flex-row justify-between items-center">
    <h2>Tu trabajo</h2>
    <h6>{isAssigned ? "Asignada" : "Entregada"}</h6>
  </section>
  <hr />
  {
    docs?.map((e: object) => {
      return (
        <h3>
          <a href={e.url} target="_blank" rel="noopener noreferrer">
            {e.name}
          </a>
        </h3>
      );
    })
  }
  <button>Añade</button>
  <button>Entrega</button>
</div>
